.project {
  &-content-wrapper {
    width: 100%;
    padding: 20px 6px;

    @media (min-width: $tablet) {
      width: 500px;
    }

    @media (min-width: $desktop) {
      width: 600px;
    }
  }

  &-title {
    font-weight: normal;
  }

  &-meeting-missing {
    padding: 20px 10px;
  }

  &-meeting-location {
    margin-bottom: 10px;
    color: $secondary-text-color;
  }
}
