html, body {
  background-color: $background-color;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

*, :after, :before {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


// Unfortunately material-ui uses inline-styling, so !Important is the only way to override
.drawer-container {
  height: calc(100% - 66px) !important;
  top: 66px !important;
  box-shadow: none !important;
  position: absolute !important;

  @media (min-width: $desktop) {
    background: transparent !important;
  }
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding-top: 0px;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 400;
  color: $white;
  height: 64px;
  line-height: 64px;
  flex: 1 1 0%;
}

.centered-indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -($spinner-size / 2);
  margin-top: -($spinner-size / 2);
}
